@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*
{margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;}

  .container1{  display: flex; justify-content:left; }

  .container2{position: fixed; z-index: 1000; }

  .claseyoutube{width: 560px; height: 315px;}

  .autores{ position:absolute; width: 560px; color: #fff; background: rgb(0, 0, 0);
           padding: 5px 7px;margin-top: 0%; margin-left:  0%; z-index: 2000; font-size: 18px;}

   .compositores{margin-left: 2%;}

   .bold{font-weight: bold;}

 .boxtitulocancion{display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  width: 560px; padding: 10px 10px; 
margin-top: -2%;
margin-left: 0px; color: rgb(250, 250, 250);
z-index: 20; background: rgb(83, 83, 83);}

.nombredeltema {padding: 5px 5px;}



.volver{  color:#fff; padding-top: 18px; margin-right: 10px; }



.videodeyoutoube{position: relative;  margin-top: 0; margin-left: 0px;}

.letracancion{position: absolute; margin-top: 450px; font-size: 22px;
    
    margin-left: 2%; padding: 5px 5px; z-index: 10;}

.align{max-width: 500px; text-align:left; display: flex; flex-direction: row; flex-wrap: wrap;}


   
    @media screen and (max-width:1000px) {

      .claseyoutube{width: 560px; 
      
      }  

      section .boxtitulocancion   {
                       width: 560px;
      }
      section .boxtitulocancion .volver   {
         margin-right: 5%;
   }
   .letracancion         {
      width: 100%; overflow: hidden; white-space: nowrap; font-size: 24px;
      
   }
   .autores{width: 100%; height: 34px; font-size: 16px ; }
}



    @media screen and (max-width:750px) {

      .claseyoutube{width: 560px;  }      

    
   
      section .boxtitulocancion   {
                       width: 560px;
      }
      section .boxtitulocancion .volver   {
         margin-right: 10%;
   }
   .letracancion         {
      width: 100%; overflow: hidden; white-space: nowrap; font-size: 22px;
      
   }
   .autores{width: 100%; height: 34px; font-size: 16px ; }
}

   @media screen and (max-width:515px) {

      .claseyoutube{width: 515px;  }
         
      
   
      section .boxtitulocancion   {
                       width: 100%;
      }
      section .boxtitulocancion .volver   {
         margin-right: 20%;
   }
   .letracancion         {
      width: 100%; overflow: hidden; white-space: nowrap; font-size: 20px;
      
   }

   section .boxtitulocancion .volver   {
      margin-right: 10%;}

      .autores{width: 100%; height: 32px; font-size: 14px ; }
   
}

@media screen and (max-width:450px) {

   .claseyoutube{width: 450px;  }

   

   section .boxtitulocancion   {
                    width: 100%;
   }
   section .boxtitulocancion .volver   {
      margin-right: 10%;
}
.letracancion         {
   width: 100%; overflow: hidden; white-space: nowrap; font-size: 18px;
   
}
        .autores{width: 100%; height: 32px; font-size: 14px ; }
}

@media screen and (max-width:360px) {

   .claseyoutube {width: 360px;  }

   .boxtitulocancion {width: 100%; height: 60px; display: flex; 
      flex-direction: row; flex-wrap: nowrap; justify-content:space-between;
       align-items: center; }

    .nombredeltema{padding: 15px 0px; font-size: 16px;}

   .letracancion         {
      width: 100%; overflow: hidden; white-space: nowrap; font-size: 16px; margin-top: 125%;
   }

   section .boxtitulocancion .volver   {
      margin-right: 10%;
}

   .autores{width: 100%; height: 30px; font-size: 13px ; }
       
             
}

@media screen and (max-width: 330px) {

   .claseyoutube{width: 330px;  }

   .letracancion         {
      width: 100%; overflow: hidden; white-space: nowrap; font-size: 14px;
   
   }

    

   section .boxtitulocancion .volver   {margin-top: 0%;
      margin-right: 10%;
}
   
.autores{width: 100%; height: 28px; font-size: 12px ; }
                  
}

@media screen and (max-width: 300px) {

   .claseyoutube{width: 300px;  }

   .letracancion         {
      width: 100%; overflow: hidden; white-space: nowrap; font-size: 14px; margin-top: 420px;
   
   }

   section .boxtitulocancion .volver   {
      margin-right: 55%; padding-left: 250px; margin-top: -25%;
}

        
      
      
}
