@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


*{
      
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
      
     
  }

  body{ 
       background: rgb(221, 221, 221);
       min-width: 250px;
    
      }

 
 

 
      ul li 
      
          {display:inline-flex;
      flex-wrap:wrap ;
      list-style: none;
      
      
      }
     
      ul li a 
       
         {
     
      text-decoration: none;
      padding: 2px 10px;
      color: #fff;
      background: #094b65;
      border-radius: 20px;
      border: 1px solid rgb(73, 73, 73);
        margin: 5px;}

  ul li a:hover
      {
      background: #2b8bb1;
      color:rgb(240, 240, 240);
      border: 1px solid rgb(4, 70, 145);
      }


.flex1{
      position: relative;
      display: flex;
      width: 100%;
      min-height: 75vh;
      justify-content: center;
      align-items: initial;
       
      margin-top: 10%;
      padding: 10px;
      
      
     
}
.size{font-size: 1.0em; width: 250px;
        }
p{text-align: center;}

.return{margin:30px 30px 30px 30px; margin-left: 80%; }
.volver{margin-left: 72%;}
.arrow{margin-left: 80%;}
 
 

 